# Programming for Data Analytics - Assignment 3 - pie

************************
*Task 03 of the assessment - pie chart of the email domains* 
************************

In [3]:
import pandas as pd

df = pd.read_csv('https://drive.google.com/uc?id=1AWPf-pJodJKeHsARQK_RHiNsE8fjPCVK&export=download')

print(df)

     Index          User Id First Name Last Name     Sex  \
0        1  8717bbf45cCDbEe     Shelia   Mahoney    Male
1        2  3d5AD30A4cD38ed         Jo    Rivers  Female
2        3  810Ce0F276Badec     Sheryl    Lowery  Female
3        4  BF2a889C00f0cE1    Whitney    Hooper    Male
4        5  9afFEafAe1CBBB9    Lindsey      Rice  Female
..     ...              ...        ...       ...     ...
995    996  fedF4c7Fd9e7cFa       Kurt    Bryant  Female
996    997  ECddaFEDdEc4FAB      Donna     Barry  Female
997    998  2adde51d8B8979E      Cathy  Mckinney  Female
998    999  Fb2FE369D1E171A   Jermaine    Phelps    Male
999   1000  8b756f6231DDC6e        Lee      Tran  Female

                             Email                  Phone Date of birth  \
0              pwarner@example.org           857.139.8239    2014-01-27
1    fergusonkatherine@example.net        +1-950-759-8687    1931-07-26
2              fhoward@example.org          (599)782-0605    2013-11-25
3            zjohnston@example.com        +1-939-130-6258    2012-11-17
4                 elin@example.net     (390)417-1635x3010    1923-04-15
..                             ...                    ...           ...
995         lyonsdaisy@example.net           021.775.2933    1959-01-05
996        dariusbryan@example.com   001-149-710-7799x721    2001-10-06
997         georgechan@example.org  +1-750-774-4128x33265    1918-05-13
998            wanda04@example.net          (915)292-2254    1971-08-31
999        deannablack@example.org     079.752.5424x67259    1947-01-24

                           Job Title
0                  Probation officer
1                             Dancer
2                               Copy
3           Counselling psychologist
4                Biomedical engineer
..                               ...
995                Personnel officer
996          Education administrator
997  Commercial/residential surveyor
998                 Ambulance person
999       Nurse, learning disability

[1000 rows x 9 columns]